img {
    max-width:auto;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


ion-content {
background: linear-gradient(to right, #00c6ff, #0072ff);
}

h2 {
  text-align: center;
  color: rgb(255, 255, 255)
}

h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255)
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255)
}